django 
psycopg2
djangorestframework
djoser
django-cors-headers
dj-rest-auth[with_social] #for user registration
coverage

#add for heroku
dj-database-url
gunicorn
whitenoise
psycopg2-binary
django-heroku